.icon-styles {
    width: 32px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 4px;
    padding: 4px;
}

/* #gh-link:hover {
    scale: 1.2;
}

.icon-styles:hover {
    opacity: 0.5;
} */